@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    /* padding: 0 38px; */
  }
  h1, h2 ,h3,h4,h5,h6,span,p, li ,a{
    font-family: 'Poppins', sans-serif;
  }
  /* .hr {
    background-color: #FF7200;
    border: 2px solid #FF7200;
    margin-top: 0%;
  } */

  .navbar .logo {
    display: flex;
    align-items: center;
  }
  .navbar .logo i{
    color: #589442;
    font-size: 31px;
    margin-top: -6px;
    margin-right: -19px;
  }
  li a {
    color: #000;
    
  }

   li {
    list-style: none;
    margin-top: 5px;
    align-items: center;
  }

   a {
    text-decoration: none;
    color:#000;
    font-size: 1rem;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  .navbar a:hover {
    color: #589442;
    border-radius: 5px;
    /* background-color: #589442; */
    text-decoration: none;
    transition: .4s ease;
  }
 
  .navbar a:active{
    color:#589442;
    
  }
  .navbar li:active{
    color: #589442;
  }
  .navbar li:hover {
    color: #589442;
    border-radius: 5px;
    /* background-color:#589442; */
    size: 10px;
    font-size: 0.8rem;
  
  }

  header {
    position: relative;
    padding: 0 1rem;
  }

  .navbar {
    width: 100%;
    height: 60px;
    align-items: baseline;
    position: fixed;
    display: flex;
    padding: auto;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    padding: 0 38px;
  }

  .navbar .links {
    display: flex;
    gap: 4rem;
  }

  .toggle_btn {
    margin-right: 5px;
    background-color: #0096a2;
  }

  .navbar .toggle_btn {
    color: #fff;
    font-style: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .action_btn {
    background-color: #589442;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    /* border-radius: 20px; */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 2px;
  }

  .action_btn:hover {
    scale: 1.05;
    color: #fff !important;
  }

  .action_btn:active {
    scale: 0.85;
  }

  .drop_down {
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background: rgba(175, 164, 164, 0.5);
    border-radius: 18px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .drop_down.open {
    height: auto;
  }

  .drop_down li {
    pad: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .drop_down a:hover {
    color: #fff;
    border-radius: 18px;
    background-color: #589442;
    text-decoration: none;
  }

  .drop_down li:hover {
    color: #fff;
    border-radius: 18px;
    background-color:#589442;
    size: 10px;
    font-size: 0.8rem;
  }

  .drop_down .action_btn {
    width: 80%;
    display: flex;
    justify-content: center;
  }
 .carousel{
  padding: 0 16px;
 }

  .sider {
    display:flex;
    margin-top:30px;
  }

  .book {
    align-items: center;
    margin-left: 50px;
    margin-top: 70px;
    flex-direction: column;
  }

  .book h1 {
    margin-top: 20px;
    margin-top: 2px;
    margin-left: 25px;
    font-family: 'Poppins', sans-serif;
  }

  .color1 {
    color: #589442;
  }

  .sider a {
    align-items: center;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    /* text-transform: uppercase; */
  }

  .sider a:hover{
    background-color:  #589442;
    text-decoration: none;
    color: #fff;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .sider   img {
    /* margin-left: 10px; */
    padding: 0 16px;
    margin-top: 10px;
    border-radius: 175px 20px 175px 10px;
    width: 50%;
  }

  .sider .book h4 {
    margin-left: 60px;
    font-size: 20px;
    font-weight: 900;
  }

  .sider .book  a {
    margin-left: 138px;
    /* color: #000; */
    background-color: #589442;
    border-radius: 5px;
  }
  .sider .book  a:hover{
    color:#fff;
    font-weight: 500;
    background-color: #71b858;
    transition: .4s ease;
  }


  .sider .info {
    margin-top: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding: 0 38px
  }


  /* Banner */
  .banner {
    margin-top: 25px;
    padding: 20px 80px;
    height: 70px;
    align-items: center;
    background-color: #8bb37d69;
    border-bottom: 3px solid #00a27973;
    margin-bottom: 50px;
  }

  .banner li {
    align-items: center;
    display: inline;
    margin-top: 10px;
    margin-left: 40px;
    color:#000;
    font-size: 20px;
  }

  .banner li a {
    border-radius: 5px;
    background-color: aliceblue;
    margin-right: 40px;
  }

  .banner li a:hover {
    color:#fff;
    text-decoration: none;
    background-color: #589442;
    transition: all .3s ease-in-out;
  }

 /* Details */
  .reviews {
    margin-top: 70px;
    display: flex;
    padding: 0 10px;
  }

  .reviews .para1 {
    display: inline-block;
    justify-content: center;
    margin-left: 10px;
    font-size: 0.95em;
    /* line-height: 1.5em; */
    column-gap: 3px;
    border: 1px solid #dfdfdf;
    padding: 20px 16px;
    background-color: #8bb37d69;
  }

  .reviews .para1 h2 {
    text-align: center;
  }

  .reviews .para1 i {
    font-size:70px;
    color: #589442;
    margin-left: 40%;
  }


  /* card */
  .guest  {
    text-align: center;
    color:#000;
    margin-top: 50px;
    margin-bottom: 38px;
  }

  .multi-cards {
    display: flex;
    gap: 50px;
    padding: 0 16px
  }

  .multi-cards .card img {
    width:100%;
    height:50%;
    padding: 0 0 20px 0;
    object-fit: cover;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    /* margin-left: 50px; */
    margin-bottom: 30px;
    margin-top: 50px;
    height: 530px;
    object-fit: cover;
    padding: 0 0px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(113, 133, 116, 0.466);
  }

  .container {
    padding: 2px 16px;
  }








  /* footer */
  .contact {
    background-color: #121921;
    color:#fff;
    margin-bottom: 3px;
  }

  .foot {
    margin-top: 20px;
  }

  .contact .foot {
    display: flex;
    margin-left: 10px;
  }

  .contact h3 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    padding: 20px 0 0 0;
  }

  .contact .c1,.c2 {
    margin-left: 30px;
    width: 33%;
  }

  .contact .c2,.c3 {
    margin-top: 10px;
  }

  .card1 .container1 {
    margin-left: 30px;
  } 
  
  .card1 {
    display: flex;
    transition: 0.3s;
    margin-bottom: 30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 5px;
    padding: 10px;
  }

  .grid-container > div {
    text-align: center;
    gap: 5px;
    font-size: 30px;
  }

  .contact .foot .c1 ul  {
    display: flex;
    /* margin-left: 30px; */
    padding-left: 0px;
  }
  .contact .foot .c1 ul i{
    color: #589442;
    padding: 0 0 !important;
  }

  .contact .foot .c1 .fas {
    color: #589442;
    font-size: 22px;
    padding: 0 173px 20px 173px;
    align-items: center;
  }

  .contact .foot .c1 i{
    /* color: #589442; */
    padding: 0 10px;
  }
  .contact .foot .c1 i:hover{
    color: #589442;
  }

  .contact .foot .c2 h4  {
    margin-bottom: 10px;
  }

  .contact .foot .c3 .grid-container div img {
    width: 70px;
    height: 70px;
  }

  .contact .foot .c2 .card1 img {
    width: 50px;
    height: 50px;
  }
  .contact .foot .c2 .card1 .container1 p {
    margin-bottom: 0px;
  }
  



  /* Media Queries */
  @media (max-width: 800px) {
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }

    .navbar .toggle_btn {
      display: block;
    }

    .drop_down {
      display: block;
    }

    .sider {
      display: block;
    }

    .sider img {
      width: 95%;
    }

    .banner {
      height: auto;
      
    }

    .banner li {
      display: block;
    }

    .banner li a {
      margin-right: 40px;
    }

    .card{
      width:70%
    }

    .reviews,.multi-cards {
      display: block;
      margin-left: 50px;  
    }

    .contact .foot {
      display: block;
      align-items: center;
      margin-left: 50px;
    }

  }